

.sk-cube-grid .sk-cube {background-color: #00acee!important;}

.bg-first {background: #343434;}
.bg-second {background: #484848;}
.bg-third {background: #5d5d5d;}
.bg-fourth {background: #717171;}
.bg-fifth {background: #8c8b8b;}
.bounce-top:before {background: #00acee;}
.bounce-top:hover, .bounce-top:focus {border: 1px solid #00acee;}
#navigation.affix {background-color: #00acee;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active a, .navbar-default .navbar-nav > .dropdown.active a, .navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus {
    border-bottom: 2px solid #00acee;
}
.navbar-nav > li > .megamenu-content li > a:hover::before {
  content: url("../images/menu-arrow-green.png");
}

.navbar-nav > li > .megamenu-content li > a:hover, .navbar-nav > li > .megamenu-content li > a:focus, .navbar-default .navbar-nav .open .megamenu-content > li > a:hover {color: #00acee!important;}
.navbar-nav > li > .dropdown-menu > li {border-bottom: 1px solid rgb(255, 255, 255);
                                        direction:rtl;
                                        text-align:right;
}
.navbar-default .navbar-nav li.dropdown > .dropdown-toggle:before {border-bottom: 9px solid #FDE428;}
.navbar-nav > li > .dropdown-menu > li > a:focus, .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .active > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {background-color: #00acee;}

.navbar-nav > li > .megamenu-content h5 {color: #000000;}
span.new {
    background: #00acee;
    color: #fff;
    padding: 3px 10px;
    font-size: 9px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 0 0 0 10px;
}
#search .close { background-color: #00acee; border-color: #00acee;}
#search .btn {background-color: #00acee;}


.index_2 .icon-nav ul li a:hover{color: #00acee;}
 
.cart .cart-content a {color: #00acee;}
.index_2 .navbar-toggle .icon-bar{
  background-color: #00acee!important;
}
.certified{ background:#eaeaea;}

.tp-leftarrow.default {background: url(../images/prev-green3.png) no-Repeat 0 0;}
.tp-rightarrow.default{background: url(../images/next-green3.png) no-Repeat 0 0;}
.tp-leftarrow:hover, .tp-rightarrow:hover, #index_3_slider .tp-leftarrow:hover, #index_3_slider .tp-rightarrow:hover {
    background-position: bottom left;
}


.canvas-box:hover .icon-wrap {background:#00acee; border:1px solid rgb(0, 172, 238); color:#fff;box-shadow: 0 0 2px 5px rgba(0, 172, 238, 0.44);}

#bg-canvas .canvas-box:hover h4::after {background: #00acee;}
.counters-item strong {
  color: #00acee;
}
.index_2 .work-filter ul li a:hover, .index_2 .work-filter ul li a.active {
  background-color: #00acee;
  border: 1px solid #00acee;
}
#testinomial { background: url(../images/construction-testimonial.jpg) no-repeat;}

.overlay {background-color: rgba(0, 172, 238, 0.71);}


#publication.index_2 .wrap-pulication a.comment {color: #00acee;}

#publication.index_2 .wrap-pulication a:before{
	background: #00acee;
}
#publication.index_2 .wrap-pulication a:hover {
  color: #00acee;
}

/*footer { background: #00acee;}*/
.index_2 form.footer-search .input-group-btn > button {
  color: #00acee;
}
.index_2 form.footer-search .input-group-btn > button:hover {
  background-color: #00acee;
  color: #fff;
}

ul.nayax-links li a:hover, ul.nayax-links li a:focus, ul.nayax-links li.active a:hover, ul.nayax-links li.active a {color: #00acee;}

.news p a {
  color: #00acee;
}


.index_2 .go-top{
  top: -36px;
}

.go-top:hover, .go-top:focus {color:#00acee;}

ul.social-link li a:hover span {background: #00acee; border: 1px solid #00acee;}
ul.social-link li a:hover i{ color:#fff;}































