
.loader{
	background-color: #d02552 !important;
}
.sk-cube-grid .sk-cube {background-color: #fff !important;}
.bg-first {background: #d02552;}
.bg-second {background: #b7db05;}
.bg-third {background: #bde304;}
.bg-fourth {background: #c4eb05;}
.bg-fifth {background: #ccf40b;}
.bounce-top:before {background: #d02552;}
.bounce-top:hover, .bounce-top:focus {border: 1px solid #d02552;}
.base_color {
  background:#d02552;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active a, .navbar-default .navbar-nav > .dropdown.active a, .navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus {
    border-bottom: 2px solid #d02552;
}
.navbar-nav > li > .megamenu-content li > a:hover::before {
	content: url(../images/menu-arrow-pink.png);
}
.navbar-nav > li > .megamenu-content li > a:hover, .navbar-nav > li > .megamenu-content li > a:focus, .navbar-default .navbar-nav .open .megamenu-content > li > a:hover {color: #d02552 !important;}
.navbar-nav > li > .dropdown-menu > li {border-bottom: 1px solid rgb(255, 255, 255);}

.navbar-nav > li > .dropdown-menu > li > a:focus, .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .active > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {background-color: #d02552;}

.navbar-nav > li > .megamenu-content h5 {color: #000000;}
span.new {
    background: #d02552;
    color: #fff;
    padding: 3px 10px;
    font-size: 9px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 0 0 0 10px;
}
#search .close { background-color: #d02552; border-color: #d02552;}
#search .btn {background-color: #d02552;}


.icon-nav ul li a:hover{color: #d02552;}

.cart .cart-content a {color: #d02552;}
.certified{ background:#eaeaea;}


.main-pic .light {
  border-left: 4px solid #d02552;
}
.main-pic .light .btn-common.active {
  background: #d02552;
}
.index_3 .canvas-box:hover span i {
  color: #d02552;
}
.index_3 .canvas-box:hover h4 {
  color: #d02552;
}

.thinker-image .overlay ,.overlay {background-color: rgba(208, 37, 82, 0.71);}
.thinker-image .overlay ul.social-link li a:hover span {
  border: 1px solid transparent;
}

#testinomial-indexFour .item h4 {
  color: #d02552;
}
#testinomial-indexFour .owl-page.active span, #testinomial-indexFour .owl-page:hover span {
  background: #d02552;
}
.index_3 .center a {
  color: #d02552;
}
.index_3 .center ul.social-link li a:hover span {background: #d02552; border: 1px solid #d02552;}
.index_3 .center ul.social-link li a:hover i{ color:#fff;}
.index_3 .form-inline input[type="submit"]:hover {
  background-color: #d02552;
}
.index_3 .breadcrumb li a:hover, .index_3 .breadcrumb li a:focus {
  color: #d02552;
}
.go-top:hover, .go-top:focus {
	color:#d02552;}
































