@font-face {
    font-family: 'BYekan';
    src: url('yekan.eot');
    src: url('yekan.eot#iefix') format('embedded-opentype'), 
        url('yekan.woff') format('woff'), url('yekan.ttf') format('truetype'), 
        url('yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BYekanNumber';
    src: url('/fonts/yekan.eot');
    src: url('/fonts/yekan.eot#iefix') format('embedded-opentype'), 
        url('/fonts/yekan.woff') format('woff'), url('/fonts/yekan.ttf') format('truetype'), 
        url('/fonts/yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'),
         url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'),
         url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'),
         url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}
body {
}

.navbar-default .navbar-nav li a {
    font-family: Iransans;
}

.navbar-nav > li > .megamenu-content h5 {
    direction: rtl !important;
    text-align: right !important;
    font-family: Iransans !important;
}

.navbar-nav > li > .megamenu-content ul li {
    direction: rtl !important;
    text-align: right !important;
}

    .navbar-nav > li > .megamenu-content ul li a {
        direction: rtl !important;
        text-align: right !important;
        font-family: Iransans !important;
        font-size: 12px !important;
    }

.navbar-nav > li > .megamenu-content img {
    margin-left: 16px;
    margin-top: 16px;
}

#main-slider h2.tp-caption > span,#main-slider h1.tp-caption > span {
    font-family: Iransans !important;
    text-align: right !important;
}

.tp-caption.title {
    font-family: Iransans !important;
    text-align: right !important;
}

#main-slider h2.tp-caption,#main-slider h1.tp-caption {
    font-family: Iransans !important;
    text-align: right !important;
}

h3, h4, h5, p, h2, a, h1 {
    font-family: Iransans !important;
}

p {
    direction: rtl;
}

.counters-item strong {
    font-family: Iransans !important;
    direction: rtl;
}

ul.address li span,.contact p {
    font-family: Iransans !important;
    
}
.phonenumb strong,.phonenumb li, .phonenumb i {
   
    color: #fff !important;
    direction: rtl;
}
.phonenumb i {
    margin-left: 3px;
}
h5, h4 {
    direction: rtl !important;
}

#publication.index_2 .wrap-pulication a {
    float: right;
    direction: rtl;
}
.wrap-pulication p, .footer-col p {
    text-align: justify;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    text-align: right;
}

.footer-col h4 {
    float: right;
}

.clear {
    clear: both;
    margin: 0 !important;
}

.input-group .form-control {
    direction: rtl;
}

ul.address li {
    direction: rtl;
    text-align: right;
    text-align: justify;
    font-family: Iransans !important;
}

.index_2 ul.nayax-links li {
    text-align: right;
    direction: rtl;
}

.enfonts {
    font-family: Helvetica, sans-serif !important;
}

.borderleft {
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.langClass a {
    opacity: 0.5;
}

.activeLang {
    opacity: 1 !important;
}

.langClass a:hover {
    opacity: 1;
}

#search input[type="search"], #search .btn {
    font-family: Iransans !important;
}


/*default4*/
.paddright {
    padding-right: 8px;
}

.bg-first {
    background: #343434;
}

.bg-second {
    background: #484848;
}

.bg-third {
    background: #5d5d5d;
}

.bg-fourth {
    background: #717171;
}

.bg-fifth {
    background: #8c8b8b;
}

h2, h3 {
    text-align: right !important;
    direction: rtl;
}

.innerpage-banner h2,.innerpage-banner h1 {
    margin-bottom: 14px;
    font-size: 35px !important;
    direction: rtl;
}

.other-page-link span {
    font-family: Iransans !important;
}

#publication-slider .item h4 {
    text-align: center;
}

.r-test ul.r-feature li {
    font-family: Iransans !important;
    font-size: 14px;
}

.r-feature {
    direction: rtl;
}

.descSection {
    padding: 30px 0;
}

.grey-content p {
    text-align: justify !important;
}

.floatright {
    float: right !important;
}

#area-main ul.blog-author li {
    font-family: Iransans !important;
    direction: rtl;
    margin-right: 5px;
}

    #area-main ul.blog-author li i {
        margin-left: 2px;
    }

.blog-content p {
    text-align: justify !important;
}

.blog-item .post-comment .form-control, .contact .form-control, .blog-item .post-comment input[type="submit"], .contact input[type="submit"] {
    font-family: Iransans !important;
}

.blog-item .post-comment input[type="button"], .contact input[type="button"] {
    background: #00acee;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    height: 50px;
    width: 185px;
    float: right;
    position: relative;
    font-family: Iransans !important;
}

    .blog-item .post-comment input[type="button"]:hover, .contact input[type="button"]:hover {
        background: #1b1d1f;
    }

.post-comment .alert {
    text-align: right;
    font-family: Iransans !important;
}

.blog-item .media-body {
    float: right;
}

.blog-author {
    text-align: right;
}

.nopadding {
    padding: 0 !important;
}

.mr5 {
    margin-right: 5px;
}

#careerbanner {
    background: url(/images/main-banner.jpg) no-repeat center center / cover;
}
#singlePagebanner {
    background: url(/images/food-dis.jpg) no-repeat center center / cover;
}
.careerForm .col-md-6 {
    float: right !important;
}

#resumetxt p {
    text-align: justify;
}

.resumeupload .col-md-8, .resumeupload .col-sm-8,
.resumeupload .col-md-4, .resumeupload .col-sm-4 {
    float: right !important;
    direction: rtl;
}

.contactdiv .col-md-6 {
    float: right !important;
}

.resumeupload .col-md-8 p, .resumeupload .col-sm-8 p,
.resumeupload .col-md-4 p, .resumeupload .col-sm-4 p {
    font-size: 14px;
}

.resumeupload .btn {
    font-family: Iransans !important;
}

.aboutsec p {
    font-size: 15px !important;
    text-align: justify;
}

.aboutsec li {
    font-size: 14px !important;
}

.alert {
    font-family: Iransans !important;
    text-align: right;
    direction: rtl;
}

.contact ul.address li, .contact ul.address li a, .contact ul.social-link li a > i {
    font-size: 14px;
}

#servicedescBody {
    font-family: Iransans !important;
    text-align: right;
    direction: rtl;
}

    #servicedescBody img,.prosection img {
        display: block;
        max-width: 100%;
        height: auto;
    }

.work-detail h4 {
    margin-top: 26px;
    font-size: 24px;
}

.work-detail img {
    width: 100%;
}

.link-navigation div {
    font-family: Iransans !important;
}

.ProductWhiteBox {
    padding: 5% 0 !important;
}

    .ProductWhiteBox h2 {
        margin-bottom: 30px !important;
        text-align: center !important;
    }

    .ProductWhiteBox .service-slider .white-box {
        height: 375px !important;
    }

        .ProductWhiteBox .service-slider .white-box p {
            height: 180px !important;
        }

        .ProductWhiteBox .service-slider .white-box h4 a {
            font-size: 16px !important;
        }

        .ProductWhiteBox .service-slider .white-box img {
            opacity: 0.7;
        }

        .ProductWhiteBox .service-slider .white-box:hover img {
            opacity: 1;
        }

        .ProductWhiteBox .service-slider .white-box:hover h4 a {
            color: #00acee;
        }

.careerFeature h3 {
    color: #fff;
    font-family: Iransans !important;
    padding: 20px 0;
    text-align: center !important;
    direction: rtl;
}

#gotoForm .contact {
    text-align: center;
}

    #gotoForm .contact input {
        float: none !important;
    }

#FirstStep, #secondStep, #ThirdStep, #ForthStep {
    display: none;
}

.fileDiv {
    direction: rtl;
    font-family: Iransans !important;
    border: 1px solid #d0d0d0;
    border-radius: 0;
    color: #4c4c4c;
    font-size: 14px;
    padding: 8px;
    width: 100%;
}

#FirstStep p, #secondStep p, #ThirdStep p, #ForthStep p {
    font-family: Iransans !important;
}

#FirstStep select, #secondStep select, #ThirdStep select, #ForthStep select {
    color: #999;
}

#FirstStep .skills ul li span, #secondStep .skills ul li span, #ThirdStep .skills ul li span, #ForthStep .skills ul li span {
    cursor: pointer;
}

    #FirstStep .skills ul li span:hover, #secondStep .skills ul li span:hover, #ThirdStep .skills ul li span:hover, #ForthStep .skills ul li span:hover {
        color: #999;
    }

.formPage p {
    font-family: Iransans !important;
}

.formPage select {
    color: #999;
}

.formPage .skills ul li span {
    cursor: pointer;
}

    .formPage .skills ul li span:hover {
        color: #999;
    }

.activeColor {
    color: #00acee;
}

.activeColor2 {
    color: #fff !important;
}
.progress-bar {
    float: right !important;
}

.displaynone {
    display: none;
}

.top-padding4 {
    padding-top: 4%;
}

.bottom-padding4 {
    padding-bottom: 4%;
}

#lastProgressBar {
    display: none;
}

.footer_top p, .footer_top a, .footer_top li {
    font-size: 13px !important;
}

.index_2 ul.nayax-links {
    text-align: right;
}

.fontyekan {
    font-family: Iransans !important;
}

.fontyekanNumbers {
    font-family: Iransans !important;
}
.blog-author li span{
    font-family: Iransans !important;
    
}
#project h2, #publication h2,#project h3, #publication h3 {
    text-align: center !important;
}

.index_2.footer-col a {
    color: #d0d0d0;
}

.news a:hover {
    color: #00acee;
}

.news span {
    display: block;
    color: #5a5a5a;
}

.news p:hover span {
    color: #fff;
}

.footer-col input {
    font-family: Iransans !important;
}

#nlBox a {
    background-color: #f0f0f0;
}

    #nlBox a i {
        color: #000;
    }

#captchaPanel img {
    margin-bottom: 0 !important;
    width: 100%;
    height: 30px;
}

.glancePage p {
    text-align: justify !important;
}

.glancePage .nav-tabs li {
    float: right;
}

.glancePage .col-md-6 {
    float: right;
}

    .glancePage .col-md-6 img {
        width: 100%;
    }

.glancePage .tab-pane {
    padding-top: 5px;
}

.nav-tabs {
    border-bottom: 1px solid #00acee !important;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-color: #00acee #00acee transparent !important;
        color: #00acee !important;
    }

.megamenu-content .col-sm-3 {
    float: right !important;
}

.MenuImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22%;
    padding-left: 6px;
}

.form-inline .form-group {
    text-align: right;
    font-family: Iransans !important;
    margin-right: 30px;
    float: right;
}

.careerForm .col-md-4 .col-md-4 {
    font-family: Iransans !important;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 0 !important;
    text-align: left;
}

.careerForm .col-md-4, .careerForm .col-md-9 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    float: right !important;
}

    .careerForm .col-md-4 .col-md-4, .careerForm .col-md-4 .col-md-8,
    .careerForm .col-sm-4 .col-sm-4, .careerForm .col-sm-4 .col-sm-8 {
        float: right !important;
    }

.careerForm .col-md-8 {
    padding-left: 0 !important;
}



.careerForm .col-md-6 .col-md-4, .careerForm .col-md-6 .col-md-9 {
    font-family: Iransans !important;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 0 !important;
}

.careerForm .col-md-6 .col-md-4, .careerForm .col-md-6 .col-md-8 {
    float: right !important;
}

.careerForm .col-md-6 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    float: right !important;
}

@media screen and (max-width: 767px) {
    .careerForm .col-xs-12 .careerForm .col-sm-12, .careerForm .col-md-6 .col-md-4, .careerForm .col-md-6 .col-md-9 {
        text-align: right !important;
    }

    .careerForm .col-md-4 .col-md-4, .careerForm .col-md-6 .col-md-4, .careerForm .col-md-6 .col-md-9 {
        padding-right: 15px !important;
    }

    .careerForm .col-md-8 {
        padding-left: 15px !important;
    }
}

.spanClass {
    padding-left: 15px;
    padding-top: 15px;
}

.rowdiv {
    margin-top: 20px;
}

.flagMenu {
    min-width: 80px;
}

    .flagMenu li {
        float: none !important;
    }

        .flagMenu li a {
            padding: 3px !important;
        }

        .flagMenu li:last-child .flagMenu li:last-child {
            padding: 15px 3px !important;
        }

.hvr-bounce-to-bottom {
    margin-left: 4px;
}

.loginpage label {
    font-family: Iransans;
    direction: rtl;
    font-size: 13px;
}

.loginpage input {
    font-family: Iransans;
    direction: rtl;
}

.text-center h2, .vcenter h2 {
    text-align: center !important;
}

.blog-content-bg h3 {
    direction: rtl;
}

.pagination > .activepage > a, .pagination > .activepage > a:focus, .pagination > .activepage > a:hover, .pagination > .activepage > span, .pagination > .activepage > span:focus, .pagination > .activepage > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pageli {
    float: right;
}

.widget h4 {
    font-size: 25px;
    color: #00acee;
}

.widget p {
    text-align: justify;
}

.activeColor {
    color: #00acee !important;
}

    .activeColor span {
        color: #00acee !important;
    }

.btnslide {
    background-color: #00acee;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 12px 20px !important;
}

    .btnslide:hover {
        background-color: #fff;
        color: #203e99;
    }

.btnSlideNoBack {
    color: #fff;
    border: 1px solid #ffffff;
    padding: 12px 20px !important;
}

    .btnSlideNoBack:hover {
        color: #00acee;
        border: 1px solid #00acee;
    }

    .btnslide2 {
    background-color: #203e99;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 12px 20px !important;
}

    .btnslide2:hover {
        background-color: #fff;
        color: #203e99;
    }
      .btnslide3 {
    background-color: #fff;
    color: #203e99;
    border: 1px solid #ffffff;
    padding: 12px 40px !important;
}

    .btnslide3:hover {
        background-color:none;
        color: #203e99;
        border:1px solid #203e99;
    }

.navbar-nav > li > .serviceitem .col-sm-3 {
    width: 23%;
}

.searchBoxList ul {
    text-align: right;
    margin-top: 10px;
}

    .searchBoxList ul li span {
        float: right;
        direction: rtl;
        font-family: Iransans !important;

    }
        .searchBoxList ul li span.smalltext {
            font-size: 11px !important;
            color: gray;
            margin-right: 26px;
    }
    
        .searchBoxList ul li span {
    
        font-family: Iransans !important;

    }
    .searchBoxList ul li:hover a {
        color: #00acee;
    }

.searchBoxList input {
    text-align: right;
}

    .searchBoxList input[type="button"], .searchBoxList input[type="submit"] {
        font-family: Iransans !important;
        width: 100%;
        text-align: center;
    }

.searchBoxList .col-md-10 {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.searchBoxList .col-md-2 {
    padding-left: 0px !important;
    padding-right: 5px !important;
}

#search input#txtSearch {
    font-family: Iransans !important;
    border: 1px solid #fff;
}

.glanceItem {
    display: table-cell;
    padding: 1.2em 0;
}



    .glanceItem p {
        margin-top: 1.5em;
        text-align: justify;
    }

.glanceText {
    border: 1px solid #2d2e30;
    padding: 4px;
    border-radius: 2px;
    box-shadow: 0 1px 2px -1px #2d2e30;
}

    .glanceText:hover {
        border: 1px solid #070707;
        box-shadow: 0 0px 0px 0px #576164;
    }

    .glanceText p {
        text-align: justify;
    }
/*partnerPage*/
.partnersec p {
    text-align: justify;
}

.partnersec .col-md-6 {
    float: right;
}

.partnersec h3 {
    text-align: center !important;
}

.partnersec .partnerImgDiv {
    text-align: center;
}
/*end partnerPage*/
@media screen and (max-width: 767px) {
    .navbar-nav > li > .serviceitem .col-sm-3 {
        width: 100%;
    }
}

/*@media screen and (max-width: 1000px) {
    .tp-captionright {
        left: 360px !important;
    }
    .tp-captionrightheading {
        left:216px !important;
        font-size: 30px !important;
    }
       .tp-captionrightheading2 {
        left:63px !important;
    }
}*/

@media screen and (min-width:997px) and (max-width: 1200px) {
    .navbar-nav > li > .megamenu-content h5 {
        font-size: 12px;
    }

    .navbar-nav > li > .megamenu-content ul li a {
        font-size: 11px !important;
        padding: 4px 0;
    }
}

@media screen and (max-width: 997px) {
    .navbar-nav > li > .megamenu-content h5 {
        font-size: 10px;
    }

    .navbar-nav > li > .megamenu-content ul li a {
        font-size: 9px !important;
        padding: 4px 0;
    }
}

@media screen and (min-width:760px) and (max-width: 1000px) {
    #search input#txtSearch {
        font-size: 30px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media screen and (min-width:480px) and (max-width: 760px) {
    #search input#txtSearch {
        font-size: 22px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media screen and (max-width: 480px) {
    #search input#txtSearch {
        font-size: 12px !important;
        padding-left: 17px !important;
        padding-right: 17px !important;
    }
}

@media screen and (min-width:395px) and (max-width: 495px) {

    .btnslide {
        top: 170px !important;
    }
}

@media screen and (max-width: 395px) {

    .btnslide {
        top: 150px !important;
    }
}

@media screen and (max-width: 991px) {
    .blog-content-bg h3 {
        font-size: 20px;
    }

    .blog-content-bg p {
        font-size: 12px;
    }
}

@media screen and (max-width:762px) {
    .btnslide {
        font-size: 13px !important;
         
    }
 
.nomt {
    margin-top: 0px !important;
}
}
 
.mr4400 {
    margin: 4px 4px 0 0;
}

.careerForm span {
    color: red;
}

.careerForm .col-md-9 {
    direction: rtl;
    text-align: left
}

#thinkers h3
{ text-align: center !important;}
#thinkers small
{ font-family: Iransans !important; }
 
.proTitle h2 {
    font-size: 22px !important;
}

.proTitle p {
    text-align: justify !important; 
}
.progroupPage .col-md-8,.progroupPage .col-md-4 {
    float: right !important;
}
.r-feature li h2 {
    font-size: 14px !important;
    display: inline;
}

.copyright p {
    font-family: Iransans !important;
    font-size: 12px;
}
.copyright p a{
    font-family: Iransans !important;
    color: #00acee;
}

.serviceSinglepage .col-md-6 {
    float: right !important;
}

.newcolor {
	background: #ffb93f;
}

.blogitem {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

/*Rastak Paralax background*/
.index_2#bg-rastakparalax {
	background: url("../images/paralaxbg.jpg") no-repeat fixed 100% 70% / cover;
}
.index_2#bg-rastakparalax {
	padding: 7% 0;
}
.index_2#bg-rastakparalax p {
	padding-bottom: 20px;
	color: #fff;
}
#bg-rastakparalax h1, #bg-rastakparalax h2 {
	font-size: 60px;
    margin: 8px 0 20px 0;
    color: #fff;
} 

.btn-default {
    background-color: #508529;
    border-color: 2px solid #2f2f2f;
    color: #fff;
}
.btn-default:hover {
    background-color: #fff;
    border-color: 2px solid #2f2f2f;
    color: #508529;
}
.demoreq .form-group label,.demoreq .form-group input,.demoreq .form-group textarea,.demoreq .form-group select{
    float: right !important;
    margin: 4px 0;
    direction: rtl;
    text-align: right;
         font-family: Iransans !important;

}
.demoreq .form-group label{
   
    margin: 10px 0 0 0;
 
     
}
.mt30 {
    margin-top: 30px;
}
.activecolorlink a {
        color: #00acee;
}
.other-page-link a,.other-page-link h2 {
	color: #fff;
    font-size: 11px !important;
    display: inline;
    font-weight: normal;
}

.list-group-item {
    direction: rtl;
    text-align: right;
}
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
    cursor: pointer;
}
.reqCaptcha {
    border-radius: 5px;
    height: 35px;
    margin-top: 4px;
    float: left;
}
.collapseClass {
    text-align: right;
    direction: rtl;
   color: #333;
    background-color: #f5f5f5;
    border:1px solid #ddd;
    padding: 10px 15px;
    border-radius: 0 !important;
    border-top: none;
}
.list-group-item {
    border-radius: 0 !important;
    border-top: none;
}
.list-group-item:first-child {
    border-radius: 0 !important;
    border-top: none;
}
.speacialrow .col-md-2 {
    float: right;
    font-family: Iransans !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 15px;
    vertical-align: middle;
}

.speacialrow .col-md-4{
    float: right;
    font-family: Iransans !important;
    padding-top: 15px;
        padding-left: 0 !important;

      padding-right: 15px !important;
    vertical-align: middle;
}
h6.tp-caption.title {
    font-size: 10px !important;
}
.blogcontentstyle img {
    margin: 0 auto;
    margin-top: 5px;
}.tooltip2 {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}
 .skil-leftbar h3 {
     text-align: center !important;
     font-size: 27px !important;
 }
 .skil-leftbar ul li span {
     color: #00acee;
     font-size: 16px;
 }
 .imgfooter img
 {
     vertical-align:super !important;
     margin-top:5px;
 }
  .imgfooter a:hover 
  {
      background-color:#fff !important;
  }
  .imgfooter a img:hover a
  {
      background-color:#fff !important;
  }
   .imgfooter a img:hover span
  {
      background-color:#fff !important;
  }
 
#publication h3 span
{
    font-size:38px !important;
    border-bottom:4px solid #00acee !important;
}

.innerpage-bannerBlog h1 {
     
    font-size: 30px !important;
   
}
.panel-heading
{
    direction:rtl;
    text-align:right;
    font-family:Iransans;
}
.formQuestionary .col-md-6,.formQuestionary .col-md-2,.formQuestionary .col-md-1,.formQuestionary .col-md-3
{
    float:right;
}

.formQuestionary .demoreq button{
    margin-top:33px
}
#secondjob,#thirdjob
{
    display:none;
}
.ddlitems
{
    direction:rtl;
    text-align:right;
    font-family:Iransans;
    padding:0 15px;
}

.ddlitems input
{
    direction:rtl;
    text-align:right;
    margin-left:2px;
}
.companyform{
    display:none;
}
.with25{
    width:25%;
}
.with70{
    width:70%;
    margin-right:5% !important;
}

.btnsubmitagent{
    float:right;
    font-family:Iransans;
    margin-right:15px;
}

.solutionCustomer img {
    width: 100%;
}

.solutionCustomer h4 {
    text-align: center;
}